@import "../shared_files/reset_default.css";
@import "../shared_files/header.css";
@import "../shared_files/footer.css";
@import "../shared_files/forms.css";

.form-section {
    height: 200px;
    width: 800px;
    padding: 0 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
 }