@import "../shared_files/header.css";
@import "../shared_files/footer.css";
@import "../shared_files/reset_default.css";
@import "../shared_files/forms.css";

.form-section {
    width: 900px;
    padding: 50px;
}

.form {
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .form-section {
        height: 1450px;
    }
}